[Desktop Entry]
Type=Application
Name=Install RecorderLnx components
Comment=Install Firebird and rcPanel for RecorderLnx
Exec=bash ./install-firebird-recorderlnx.sh
TryExec=bash
Terminal=true
Icon=system-software-install
Categories=Utility;
StartupNotify=false
